.main {
  background-color: #212121;
  color: #fbfcfd;
  text-align: center;
  padding: 50px;
  font-family: "Dongle", sans-serif;
  font-weight: 950;
  font-style: normal;
  letter-spacing: -0.5px;
}
.odometer > div {
  font-weight: 700;
  margin-left: 0.5px;
  max-height: -10px;
}
.odometer > span {
  margin-left: 0.5px;
}
.odometer {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.unit {
  margin-left: 2px;
  font-size: 15px;
  font-weight: 800;
}

.box {
  max-width: 0.1rem;
  min-height: 0.1rem;
  background-color: red;
  color: red;
  position: absolute;
  top: 0;
}
