.main {
  background-color: #1c2125;
  color: #fbfcfd;

  text-align: center;
  padding: 50px;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;

  letter-spacing: -1.5px;
}

/* .odometer {
  font-size: 22px;
} */
.odometer > span {
  font-weight: 550;
  margin-left: 0px;
  margin-right: 0px;
}
.odometer {
  font-size: 22px;
}

/* .odometer > span {
  font-weight: 550;
  margin-left: 0;
  margin-right: 0;
} */

.unit {
  font-size: 15px;
  font-weight: 800;
}
